{% extends "layout.html" %}

{% block content %}
<div style="margin-top:10%">
        <h1 style="text-align:center">All Updates</h1>
    </div>
    

    <div class="container">

    {% for u in updates %}
        <h4><a href="/get/{{u.name}}" style="color:black">{{ u.name }}</a></h4>{{ u.time }}
        <p>{{ u.message }}</p>
        <p><i class="fas fa-arrow-up"></i>{{ u.likes }}    <i class="far fa-star"></i> {{ u.superlikes }}</p>

        <a href="/upvote/{{ u.id }}" class="btn btn-success" style="color:white; font-weight: 300;"><i class="fas fa-arrow-up"></i> Upvote</a>
        <a href="/superlike/{{ u.id }}" class="btn btn-danger" style="color:white; font-weight: 300;"><i class="far fa-star"></i> Superlike</a>

        <hr>
    {% endfor %}
        
    </div>

{% endblock %}
